.another-det-title{
    display: flex;
    margin-top: 10%;
    margin-left: -8%;
    justify-content: space-evenly;
    text-align: left;
    font: normal normal 300 20px/30px Heebo;
    letter-spacing: 0px;
    color: #E8F1F2;
    opacity: 1;
  }
  .another-det-subtitle{
    display: flex;
    justify-content: space-around;
    margin-left: 5%;
    text-align: left;
    font: normal normal medium 20px/30px Heebo;
    font-size: 20px;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
  }